@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-primary: #030712;
  --color-secondary: #090e1b;
  --color-tertiary: #101828;
  --color-quaternary: #1d293d;
  --color-textGray: #99a1af;
  --color-border: #1e2939;
  --color-destructive: #eb2424;
  --color-green: #05df72;
  --color-purple: #7c86ff;
  --font-sf-pro-display: "SF-Pro-Display", sans-serif;
  --font-gilroy: "Gilroy", sans-serif;
  --shadow-checkbox: 0px 0px 0px 1px #1d293d;
  --shadow-custom: 0px 1px 3.6px 0px #0000000f;
  --shadow-inner: inset 0px 0px 0px 1px #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
